
<div class="section meeting">
	<div class="layout  layout-x ">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">НАШИ<br><mark>мЕРОПРИЯТИЯ</mark></h2>
			<ul class="meeting__list">
				<li class="meeting__item">
					<a href="#">
						<span class="meeting__content">
							<span class="meeting__reg"><span>Регистрация окончена</span></span>
							<h3 role="heading" aria-level="3">Игра 6.0</h3>
							<span class="meeting__wrap">
								<img class="meeting__icon" src="static/img/content/meeting.svg" alt="pic">
								<h4>Личная эффективность бизнесмена</h4>
							</span>
							<p>Увеличивайте вашу личную  продуктивность. Меньше  работы - больше результата</p>
							<img src="static/img/content/arrow-r.svg" alt="pic" aria-hidden="true" class="arrow-w">
							</svg>
						</span>
					</a>
					<div class="soon">
						<p>Скоро<br>старт<br>нового потока</p>
					</div>
				</li>
				<!-- 2 -->
				<li class="meeting__item">
					<a href="#">
						<span class="meeting__content">
							<span class="meeting__reg"><span>24 августа 20:00 МСК/КИЕВ</span></span>
							<h3 role="heading" aria-level="3">Экспорт</h3>
							<span class="meeting__wrap">

								<img src="static/img/content/e-02.svg" alt="pic" aria-hidden="true" class="meeting__icon">
								<h4>Как отправить товар с Китая</h4>
							</span>
							<p>Увеличивайте вашу личную продуктивность. Меньше  работы - больше результата</p>
							<img src="static/img/content/arrow-r.svg" alt="pic" aria-hidden="true" class="arrow-w">
						</span>
					</a>
				</li>
				<!-- 3 -->
				<li class="meeting__item">
					<a href="#">
						<span class="meeting__content">
							<span class="meeting__reg"><span>Скоро</span></span>
							<h3 role="heading" aria-level="3">Фабрика</h3>
							<span class="meeting__wrap">
								<img src="static/img/content/e-03.svg" alt="pic" aria-hidden="true" class="meeting__icon">
								<h4>обучение бизнесу с  Китаем уже сегодня</h4>
							</span>
							<p>Увеличивайте вашу личную  продуктивность. Меньше  работы - больше результата</p>
							<img src="static/img/content/arrow-r.svg" alt="pic" aria-hidden="true" class="arrow-w">
						</span>
					</a>
				</li>
				<!-- 4 -->
				<li class="meeting__item">
					<a href="#">
						<span class="meeting__content">
							<span class="meeting__reg"><span>17 июля</span></span>
							<h3 role="heading" aria-level="3">Вебинар</h3>
							<span class="meeting__wrap">
								<img src="static/img/content/e-04.svg" alt="pic" aria-hidden="true" class="meeting__icon">
								<h4>сколько нужно капитала для  старта</h4>
							</span>
							<p>Увеличивайте вашу личную  продуктивность. Меньше  работы - больше результата</p>
							<img src="static/img/content/arrow-r.svg" alt="pic" aria-hidden="true" class="arrow-w">
						</span>
					</a>
				</li>
				<!-- 5 -->
				<li class="meeting__item">
					<a href="#">
						<span class="meeting__content">
							<span class="meeting__reg"><span>Скоро</span></span>
							<h3 role="heading" aria-level="3">Конференция</h3>
							<span class="meeting__wrap">
								<img src="static/img/content/e-05.svg" alt="pic" aria-hidden="true" class="meeting__icon">
								<h4>Личная эффективность бизнесмена</h4>
							</span>
							<p>Увеличивайте вашу личную  продуктивность. Меньше  работы - больше результата</p>
							<img src="static/img/content/arrow-r.svg" alt="pic" aria-hidden="true" class="arrow-w">
						</span>
					</a>
				</li>
				<!-- 6 -->
				<li class="meeting__item">
					<a href="#">
						<span class="meeting__content">
							<span class="meeting__reg"><span>17 июля</span></span>
							<h3 role="heading" aria-level="3">Еще что-то</h3>
							<span class="meeting__wrap">
								<img src="static/img/content/meeting.svg" alt="pic" aria-hidden="true" class="meeting__icon">
								<h4>Личная эффективность бизнесмена</h4>
							</span>
							<p>Увеличивайте вашу личную  продуктивность. Меньше  работы - больше результата</p>
							<img src="static/img/content/arrow-r.svg" alt="pic" aria-hidden="true" class="arrow-w">
						</span>
					</a>
				</li>

			</ul>
		</div>
	</div>
</div>
