{{#each this}}
	<div class="eventWide">
		<div class="eventWide__header">
			<span>{{{date}}}</span>
		</div>
		<div class="eventWide__content">
			<h3 class="title__event" role='heading' aria-level="3">{{title}}</h3>
			{{#if box}}
				{{#each box}}
					<div class="eventWide__box">
						<h4 role="heading" aria-level="4">{{title}}</h4>
						{{#if list}}
							<ul class="{{list.name}}">
								{{#each list.desc}}
									<li><p>{{{this}}}</p></li>
								{{/each}}
							</ul>
						{{/if}}
						{{#if desc}}
							<p>{{{desc}}}</p>
						{{/if}}
					</div>
				{{/each}}
			{{/if}}
			<div class="eventWide__footer">
				<button class="btn btn-red js-ppp"  data-ppp="register">Узнать детали</button>
				<div class="carusel">
					<div class="eventWide__slider">
						{{#each code}}
							<div class="eventWide__item">
								{{#if id}}
									<div class="eventWide__pic eventWide-video js-ppp" data-ppp='video' data-video="{{id}}">
										<picture>
											<source srcset="static/img/content/{{img}}.webp "
												type="image/webp">
											<img src="static/img/content/{{img}}.jpg" loading="lazy" alt="pic" class="look__img">
										</picture>
									</div>
								{{else}}
									<div class="eventWide__pic">
										<picture>
											<source srcset="static/img/content/{{img}}.webp "
												type="image/webp">
											<img src="static/img/content/{{img}}.jpg" loading="lazy" alt="pic" class="look__img">
										</picture>
									</div>
								{{/if}}
							</div>
						{{/each}}
					</div>

				</div>
			</div>

		</div>
	</div>
{{/each}}
