
<div class="section worth">
	<div class="layout layout-x">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">3 главных ценности</br><mark>нашего сообщества</mark></h2>
			<ul class="worth__list">
				<li>
					<div class="worth__header">
						<div class="worth__pic">
							<img class="worth__img " src="static/img/content/support.svg" loading="lazy" alt="поддержка" aria-hidden="true">
						</div>
						<h5>Поддержка</h5>
					</div>
					<p>Каждый из <b>8,000+ участников</b> всегда готов помочь, подсказать, поделиться опытом или контактами</p>
				</li>
				<li>
					<div class="worth__header">
						<div class="worth__pic">
							<img class="worth__img " src="static/img/content/mentor.svg" loading="lazy" alt="Менторство" aria-hidden="true">
						</div>
						<h5>Менторство</h5>
					</div>
					<p>Всегда можно задать вопрос одному из кураторов, экспертов или даже <b>напрямую Диме Ковпаку</b></p>
				</li>
				<li>
					<div class="worth__header">
						<div class="worth__pic">
							<img class="worth__img " src="static/img/content/talk.svg" loading="lazy" alt="Актуальность" aria-hidden="true">
						</div>
						<h5>Актуальность</h5>
					</div>
					<p>Каждые несколько месяцев мы обновляем материалы. Вам доступна <b>самая актуальная информация</b> по трендам в маркетинге, продажах, логистике</p>
				</li>
			</ul>
		</div>
	</div>
</div>