<div class="section popular-v">
	<div class="layout layout-x">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">Популярные</br><mark>видео</mark></h2>
			<div class="carusel">
				<div class="slider-row">
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
					<div class="slider-row__item">
						{{>video/video}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
