.popular-v
	padding: 40px 0
	background: $red url('../img/content/bg-red.jpg')
	color: #fff
	.title__section
		color: #fff
	.layout-s
		padding: 0 0 30px

.slider-row
	font-size: 0
	&__item
		margin-right: 10px
		font-size: 0
	.slick-track


