
<div class="section hero">
	<div class="layout layout-x">
		<div class="hero__content">
			<div class="hero__text">
				<h1 class="title__main" role="heading" aria-level="1">Сообщество по бизнесу<br>с Китаем <mark>№1 в СНГ</mark></h1>
				<p class="desc__line">Мы создали экосистему, где собраны <mark>самые эффективные методики</mark><br>по ведению бизнеса с Китаем</p>
				<button class="btn btn-red" aria-label="see more">Узнать подробнее</button>
			</div>
			<div class="btn btn btn-see" >
				<span></span>
				Смотреть видео о Диме
			</div>

		</div>
		<div class="hero__gallery">
			<div class="squere-big"></div>
			<img class="squere-l" src="static/img/content/sl.png" alt="decor" aria-hidden="true">
			<img class="squere-r" src="static/img/content/sr.png" alt="decor" aria-hidden="true">

			<div class="hero__pic">
				<picture>
					<source srcset="static/img/content/bg-hero.webp "
										type="image/webp">
					<img src="static/img/content/bg-hero.png" alt="Dima Kovpak"  class="hero__img">
				</picture>
			</div>
		</div>
		<div class="hero__footer">
			<h2 class="title__ar" role="heading" aria-level="2">Получите доступ к дайджестам</h2>
			<p>Прямо в ваш почтовый ящик каждое утро понедельника</p>
			<a href="#" class="js-ppp" data-ppp="">Подписаться на Дайджест</a>
		</div>

	</div>
</div>