
<div class="section book">
	<div class="layout  layout-x ">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">Книги<br><mark>написаные димой</mark></h2>
			<ul class="book__list">
				<li>
					<div class="book__pic">
						<picture>
							<source srcset="static/img/content/book-01.webp "
												type="image/webp">
							<img src="static/img/content/book-01.jpg" loading="lazy" alt="pic" >
						</picture>
					</div>
					<div class="book__text">
						<p>Зачем строить фабрику, если она уже есть в Китае? Просто придумай товар, который нужен на твоем рынке и начинай зарабатывать деньги.</p>
						<p>О том, как безопасно и легко сделать первые шаги в торговле с Китаем, запустить первые продажи и заработать свой первый миллион, даже если ты не доучился, никогда не работал на себя и ничего в жизни не продавал. Неважно, кто ты, сколько у тебя опыта, денег или знаний. Автор буквально за руку проведет тебя по всему пути, рассказывая о том, что уже принесло успех ему и тысячам его учеников.</p>
					</div>
				</li>
				<li class="mob-reverse">
					<div class="book__text">
						<p>Посмотри на то, что тебя окружает. Уверен, 90% произведено в Китае. Этот глобальный тренд влияет на твой бизнес и будущее, чем бы ты не занимался. И если сейчас ты можешь выпустить товар, создать свой бренд или масштабировать бизнес с минимальными усилиями и вложениями, то уже через пару лет картина может резко поменяться.</p>
						<p>Из книги ты узнаешь, как быстро перейти из розницы в опт, с чего начать, где покупать, как заключать договоры по низким ценам и главное — как быстро увеличить прибыль. Читай и применяй уже сейчас. </p>
					</div>
					<div class="book__pic">
						<picture>
							<source srcset="static/img/content/book-02.webp "
												type="image/webp">
							<img src="static/img/content/book-02.jpg" loading="lazy" alt="pic" >
					</picture>
					</div>
				</li>
			</ul>
			<div class="text-center">
				<button class="btn btn-red js-ppp"  data-ppp="register">Заказать книгу с автографом</button>
			</div>
		</div>
	</div>
</div>
