<div class="section meetings">
	<div class="layout  layout-x ">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">Лидеры рынка<br><mark>о диме</mark></h2>
			<ul class="meetings__list">
				<li>
					<a href="#">
						<span class="meetings__title"><span>Игра</span></span>
						<span class="meetings__content"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="meetings__title"><span>Фабрика</span></span>
						<span class="meetings__content"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="meetings__title"><span>Вебинары</span></span>
						<span class="meetings__content"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="meetings__title"><span>Экспорт</span></span>
						<span class="meetings__content"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="meetings__title"><span>Конфа</span></span>
						<span class="meetings__content"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="meetings__title"><span>Еще что-то</span></span>
						<span class="meetings__content"></span>
					</a>
				</li>

			</ul>
		</div>
	</div>
</div>

<div class="section book">
	<div class="layout  layout-x ">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">Книги<br><mark>написаные димой</mark></h2>
			<ul class="book__list">
				<li>
					<picture>
						<source srcset="static/img/content/book-01.webp "
											type="image/webp">
						<img src="static/img/content/book-01.jpg" loading="lazy" alt="pic" >
					</picture>
				</li>
				<li>
					<picture>
						<source srcset="static/img/content/book-02.webp "
											type="image/webp">
						<img src="static/img/content/book-02.jpg" loading="lazy" alt="pic" >
					</picture>
				</li>
			</ul>
			<div class="text-center">
				<button class="btn-red">Заказать книгу с автографом</button>
			</div>
		</div>
	</div>
</div>
