

<div class="section osnovatel">
	<div class="layout layout-x">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">Основатель<br><mark> China business forum</mark></h2>
			<p class="desc__m">Главного ежегодного мероприятия<br>по бизнесу с Китаем на 2,500+ человек<br>(проходит при поддержке правительства Китая)</p>

			<div class="carusel">
				<div class="osnovatel__slider">
					<div class="osnovatel__pic">
						<picture>
							<source srcset="static/img/content/blog.webp "
												type="image/webp">
							<img src="static/img/content/blog.jpg" alt="pic" class="osnovatel__img">
						</picture>
					</div>
					<div class="osnovatel__pic">
						<picture>
							<source srcset="static/img/content/blog.webp "
												type="image/webp">
							<img src="static/img/content/blog.jpg" alt="pic" class="osnovatel__img">
						</picture>
					</div>
					<div class="osnovatel__pic">
						<picture>
							<source srcset="static/img/content/blog.webp "
												type="image/webp">
							<img src="static/img/content/blog.jpg" alt="pic" class="osnovatel__img">
						</picture>
					</div>
					<div class="osnovatel__pic">
						<picture>
							<source srcset="static/img/content/blog.webp "
												type="image/webp">
							<img src="static/img/content/blog.jpg" alt="pic" class="osnovatel__img">
						</picture>
					</div>
					<div class="osnovatel__pic">
						<picture>
							<source srcset="static/img/content/blog.webp "
												type="image/webp">
							<img src="static/img/content/blog.jpg" alt="pic" class="osnovatel__img">
						</picture>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>