<div class="section cifra">
	<div class="layout  layout-x ">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">о диме<br><mark>в цифрах</mark></h2>
			<ul class="cifra__list">
				<li>
					<p class="desc__line">8000+ учеников</p>
					<p>Обучил за 6 лет. Результат лучшего ученика — 10,000,000 руб.</p>
				</li>
				<li>
					<p class="desc__line">16+ лет</p>
					<p>активно занимается бизнесом с КИТАЕМ</p>
				</li>
				<li>
					<p class="desc__line">82%<sup>*</sup> студентов</p>
					<p>Окупают стоимость обучения минимум <br>в 1,5 раза уже на 2-й месяц курса</p>
				</li>
				<li>
					<p class="desc__line">Каждый 2-й ученик</p>
					<p>Отмечает высокий уровень поддержки, много индивидуальной работы и материал без “воды” во время обучения</p>
				</li>
			</ul>
			<div class="text-center footnote">
				<p><sup>* </sup> При условии выполнения всех домашних заданий</p>
			</div>
		</div>
	</div>
</div>