<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{title}}</title>

<!-- <link rel="preload" href="static/css/critical.min.css" as="style">
<link rel="preload" href="static/css/main.min.css" as="style">
<link rel="preload" href="static/css/separate-css/slick-bundle.min.css" as="style"> -->

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

<meta content="Мы создали экосистему, где собраны самые эффективные методики по ведению бизнеса с Китаем" name="description">
<meta content="Сообщество по бизнесу с Китаем №1 в СНГ" name="keywords">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta content="telephone=no" name="format-detection">
<meta name="theme-color"  content="#94251d">

<meta name="HandheldFriendly" content="true">
<link href="static/css/critical%=hash=%%=min=%.css" rel="stylesheet" type="text/css">

{{#if useSocialMetaTags}}
    <meta property="og:title" content="Сообщество по бизнесу с Китаем №1 в СНГ" />
    <meta property="og:url" content="static/img/content/ogg.jpg" />
    <meta property="og:description" content="Мы создали экосистему, где собраны самые эффективные методики по ведению бизнеса с Китаем" />
    <meta property="og:image" content="static/img/content/ogg.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="300" />
    <meta property="twitter:description" content="Мы создали экосистему, где собраны самые эффективные методики по ведению бизнеса с Китаем		" />
    <link rel="image_src" href="static/img/content/ogg.jpg" />
{{/if}}

<link rel="icon" type="image/png" href="fav.png">

