
<div class="section feedback">
	<div class="layout  layout-x ">
		<div class="layout layout-s">
			<h2 class="title__section" role="heading" aria-level="2">отзывы<br><mark>о нас</mark></h2>

			<div class="carusel">
				<div class="feedback__slider">
					<div class="feedback__item">
						<div class="feedback__pic">
							<picture>
								<source srcset="static/img/content/man.webp "
												type="image/webp">
								<img src="static/img/content/man.png" alt="kovpak pic" class="feedback__img">
							</picture>
						</div>
						<div class="feedback__content">
							<div class="feedback__header">
								<h3 " aria-level="3" role="heading">Владимир и Елена Березнюк</h3>
								<p class="subtitle">ceo, cmo</p>
								<p >Средний и премиальный сегмент мягкой мебели</p>
							</div>
							<div class="feedback__do">
								<h3 role="heading" aria-level="3">Ключевые решения:</h3>
								<ul class="list-line">
									<li>Усилили оффер</li>
									<li>Модернизировали и улучшили продаюзий сайт</li>
									<li>Внедрили контент-маркетинг и новые каналы трафика</li>
									<li>Переупаковали бренды</li>
									<li>Запустили колл-центр</li>
								</ul>
							</div>
							<div class="feedback__result">
								<h3 role="heading" aria-level="3">Ключевые решения:</h3>
								<ul class="list-target">
									<li>Сотрудники остаются в компании и активно работают  на результат, чтобы дополнительно развиваться  и получать контент.</li>
									<li>Увеличили продажи в мебельных компаниях  Zlatamebel и Dominno на 249% и 515% соответственно</li>
									<li>Средний чек покупки мебели класса масс-маркет  увеличили до 40 000 грн</li>
								</ul>
							</div>
							<div class="text-center">
								<a href="https://dimakovpak.ru/" class="btn btn-red "  target="_blank" data-ppp="register">Подробнее</a>
							</div>
						</div>
					</div>
					<div class="feedback__item">
						<div class="feedback__pic">
							<picture>
								<source srcset="static/img/content/man.webp "
												type="image/webp">
								<img src="static/img/content/man.png" alt="kovpak pic" class="feedback__img">
							</picture>
						</div>
						<div class="feedback__content">
							<div class="feedback__header">
								<h3 " aria-level="3" role="heading">Владимир и Елена Березнюк</h3>
								<p class="subtitle">ceo, cmo</p>
								<p >Средний и премиальный сегмент мягкой мебели</p>
							</div>
							<div class="feedback__do">
								<h3 role="heading" aria-level="3">Ключевые решения:</h3>
								<ul class="list-line">
									<li>Усилили оффер</li>
									<li>Модернизировали и улучшили продаюзий сайт</li>
									<li>Внедрили контент-маркетинг и новые каналы трафика</li>
									<li>Переупаковали бренды</li>
									<li>Запустили колл-центр</li>
								</ul>
							</div>
							<div class="feedback__result">
								<h3 role="heading" aria-level="3">Ключевые решения:</h3>
								<ul class="list-target">
									<li>Сотрудники остаются в компании и активно работают  на результат, чтобы дополнительно развиваться  и получать контент.</li>
									<li>Увеличили продажи в мебельных компаниях  Zlatamebel и Dominno на 249% и 515% соответственно</li>
									<li>Средний чек покупки мебели класса масс-маркет  увеличили до 40 000 грн</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="feedback__item">
						<div class="feedback__pic">
							<picture>
								<source srcset="static/img/content/man.webp "
												type="image/webp">
								<img src="static/img/content/man.png" alt="kovpak pic" class="feedback__img">
							</picture>
						</div>
						<div class="feedback__content">
							<div class="feedback__header">
								<h3 " aria-level="3" role="heading">Владимир и Елена Березнюк</h3>
								<p class="subtitle">ceo, cmo</p>
								<p >Средний и премиальный сегмент мягкой мебели</p>
							</div>
							<div class="feedback__do">
								<h3 role="heading" aria-level="3">Ключевые решения:</h3>
								<ul class="list-line">
									<li>Усилили оффер</li>
									<li>Модернизировали и улучшили продаюзий сайт</li>
									<li>Внедрили контент-маркетинг и новые каналы трафика</li>
									<li>Переупаковали бренды</li>
									<li>Запустили колл-центр</li>
								</ul>
							</div>
							<div class="feedback__result">
								<h3 role="heading" aria-level="3">Ключевые решения:</h3>
								<ul class="list-target">
									<li>Сотрудники остаются в компании и активно работают  на результат, чтобы дополнительно развиваться  и получать контент.</li>
									<li>Увеличили продажи в мебельных компаниях  Zlatamebel и Dominno на 249% и 515% соответственно</li>
									<li>Средний чек покупки мебели класса масс-маркет  увеличили до 40 000 грн</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>