<form action="/" method="post" class="callback js-validate">
	<div class="callback__header">
		<h3 role="heading" aria-level="3">Обратная связь</h3>
		<p>Оставь контакты и мененджер <br>свяжетя с тобой в ближайшее время</p>
	</div>
	<fieldset class="callback__field">
		<input type="text" name="firstname" id="firstname" class="firstname" aria-label="firstname">
		<label class="callback__label" for="firstname">Имя <sup>*</sup></label>
	</fieldset>
	<fieldset class="callback__field">
		<input type="email" name="email" id="email" class="email" aria-label="email">
		<label class="callback__label" for="firstname">E-mail <sup>*</sup></label>
	</fieldset>
	<fieldset class="callback__field">
		<input type="tel" name="tel" id="tel" class="phone" placeholder="Номер телефона" aria-label="phone">
		<!-- <label for="firstname">E-mail <sup>*</sup></label> -->
	</fieldset>
	<textarea name="subject" id="subject" placeholder="Текст сообщения"></textarea>
	<button class="btn btn-red"  aria-label='send'> Отправить </button>
	<p class="desc__required"><sup>* </sup> обязательные поля для заполнения</p>
</form>
